.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div:last-child {
  width: calc(50% - 16px);
  margin: 8px;
  height: calc(100% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

